.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 143px;
}
.texts{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    
}
.texts h2{
    font-size: 46px;
    font-weight: 600;
    line-height: 58.09px;
    display: inline-block;
    width: 580px;
    height: 116px;
}
.texts p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    display: inline-block;
    width: 508px;
    height: 84px;
    opacity: 60%;
    margin-top: 24px;
}
.texts button{
    margin-top: 72px;
    width: 180px;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 16px;
}
.images{
    width: 651px;
    height: 500px;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    margin-right: 80px;
    position: relative;
}
.chef{
    width: 660px;
    height: 597px;
    position: absolute;
    top:-97px;
    left: -40px;
}
.tomato{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 124px;
    left: 34px;
}
.meat{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 70;
    left: 102;
}
.onion{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 97px;
    right: 130.76px;
}
.vegan{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 167px;
    right: -14px;
}