.container{
    width: 100%;
    height: 964px;
    margin-top: 160px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    width: 796px;
    height: 58px;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: -0.04em;
    text-align: center;
}
.checkInstagram{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    width: 840px;
    height: 56px;
}
.posts{
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(1440px - 160px);
}
.instagram_link{
    width: 229px;
    height: 60px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram_link span{
    color: white;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: left;
}
.instagram_link svg{
    fill: white;
    margin-left: 17px;
    width: 22px;
    height: 22px;
}